#mobile-radio {
    top: 946px;
    left: 620px;
    max-height: max-content;
    max-width: max-content;
    font-family: 'arial' !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: none;
    user-select: none;
    letter-spacing: 0.1em;
}

#mobile-nolink {
    top: 275px;
    left: 85px;
    height: 68px;
    line-height: 60px;
    width: var(--mobile-screen-width);
}

#mobile-power-btn {
    position: absolute;
    left: 31px;
    top: 165px;
    width: 31px;
    height: 32px;
}

#mobile-volume-down-knob {
    left: 25px;
    bottom: 33px;
    width: 25px;
    height: 55px;
}

#mobile-volume-up-knob {
    left: 62px;
    bottom: 33px;
    width: 25px;
    height: 55px;
}

#mobile-channel-down-knob {
    left: 485px;
    bottom: 33px;
    width: 25px;
    height: 55px;
}

#mobile-channel-up-knob {
    left: 518px;
    bottom: 33px;
    width: 25px;
    height: 55px;
}

#mobile-panicBtn {
    position: absolute;
    left: 505px;
    top: 48px;
    width: 30px;
    height: 29px;
}

#mobile-backlight-btn {
    left: 30px;
    bottom: 120px;
    width: 34px;
    height: 17px;
}

#mobile-red-led {
    display: none;
    position: absolute;
    left: 36.5px;
    background-color: darkred;
    top: 215.1px;
    width: 19.6px;
    height: 5px;
    border-radius: 25%;
}

#mobile-yellow-led {
    display: none;
    position: absolute;
    left: 36.4px;
    background-color: darkgoldenrod;
    top: 232.4px;
    width: 19px;
    height: 5px;
    border-radius: 25%;
}

#mobile-green-led {
    display: none;
    position: absolute;
    left: 36.4px;
    background-color: darkgreen;
    top: 249.5px;
    width: 19px;
    height: 5px;
    border-radius: 25%;
}

#mobile-radio-display {
    top: 228px;
    left: 91px;
    width: var(--mobile-screen-width);
    height:124px;
    border-radius: 2px;
}

#mobile-rssi-group {
    position: absolute;
    width: 35px;
    height: 15px;
    left: 137px;
    top: 246px;
}

#mobile-operation {
    top: 21.5px;
    left: 53px;
}

#mobile-talk-around {
    top: 8px;
    left: 87;
}

#mobile-scanning {
    right: 60px;
}

#mobile-gps {
    right: 38px;
}

#mobile-time {
    right: 0px;
    top: 230px;
    display: none;
}

#mobile-send-data {
    position: absolute;
    top: 24px;
    left: 17px;
}

#mobile-receive-data {
    position: absolute;
    top: 24px;
    left: 21px;
}

#mobile-monitor {
    font-size: 1.7em;
    top: 13px;
    left:38px;
}

#mobile-main-text {
    width: 286px;
    height: 20px;
    top: 119px;
    left: 0.9px;
    text-align: center;
}

#mobile-top-text {
    width: var(--mobile-screen-width);
    top: -55.5px;
    font-weight: bold;
    font-family: 'arial' !important;
    font-size: 15px;
}

#mobile-channel-text {
    top: -40.5px;
    font-weight: bold;
    font-family: 'arial' !important;
    width: var(--mobile-screen-width);
    text-align: center;
    overflow-wrap: break-word;
    font-size: 20px;
}

#mobile-vertical-list {
    width: var(--mobile-screen-width);
    background-color: gainsboro;
    bottom: 1px;
    display: none;
}

#mobile-vertical-list .vertical-list-item {
    height: 9px !important;
    font-size: 0.8em;
}

#mobile-range-text {
    position: absolute;
    display: none;
    top: 375px;
    font-weight: bolder;
    width: var(--mobile-screen-width);
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 1px;
}

#mobile-lower-text {
    top: 2px;
    font-weight: bold;
    font-family: 'arial' !important;
    color: white;
    width: var(--mobile-screen-width);
    font-size: 14px;
}

#mobile-menu-row {
    top: 71.5px;
    left: 1;
    width: var(--mobile-screen-width);
    height: 11px;
    font-size: 0.85em;
    color: white;
}

.mobile-btm-text {
    position: absolute;
    top: 71.5px;
    left: 1px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#mobile-btm-text-1 {
    position: absolute;
    top: 71.5px;
    left: 1px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#mobile-btm-text-2 {
    position: absolute;
    top: 71.5px;
    left: 57px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#mobile-btm-text-3 {
    position: absolute;
    top: 71.5px;
    left: 115px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#mobile-btm-text-4 {
    position: absolute;
    top: 71.5px;
    left: 170px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#mobile-btm-text-5 {
    position: absolute;
    top: 71.5px;
    left: 228px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#mobile-p-btn {
    position: absolute;
    top: 375px;
    left: 92px;
    width: 286px;
    height: 38px;
}

#mobile-soft-btn-1 {
    position: absolute;
    left: 103px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#mobile-soft-btn-2 {
    position: absolute;
    left: 157px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#mobile-soft-btn-3 {
    position: absolute;
    left: 212px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#mobile-soft-btn-4 {
    position: absolute;
    left: 264px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#mobile-soft-btn-5 {
    position: absolute;
    left: 319px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#mobile-btn-up {
    position: absolute;
    left: 430px;
    top: 378px;
    width: 40px;
    height: 20px;
}

#mobile-btn-down {
    position: absolute;
    left: 430px;
    top: 409px;
    width: 40px;
    height: 20px;
}

#mobile-btn-left {
    position: absolute;
    left: 409px;
    top: 378px;
    width: 20px;
    height: 51px;
}

#mobile-btn-right {
    position: absolute;
    left: 469px;
    top: 378px;
    width: 20px;
    height: 51px;
}

#mobile-home-btn {
    position: absolute;
    left: 398px;
    top: 461px;
    width: 66px;
    height: 42px;
}

#mobile-display-test {
    display: none;
    background-color: darkred;
    top: 242.5px;
    left: 91px;
    width: var(--mobile-screen-width);
    height:124px;

}
