#persistent-radio {
    display: none;
    top: 946px;
    left: 620px;
    max-height: max-content;
    max-width: max-content;
    font-family: 'motorola' !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 0.1em;
}

#persistent-nolink {
    top: 22px;
    left: 85px;
    height: 68px;
    line-height: 60px;
    width: var(--mobile-screen-width);
}

#persistent-red-led {
    display: none;
    left: 37px;
    background-color: darkred;
    top: 44px;
    width: 15px;
    height: 4px;
    border-radius: 25%;
}

#persistent-yellow-led {
    display: none;
    left: 37px;
    background-color: darkgoldenrod;
    top: 53px;
    width: 15px;
    height: 4px;
    border-radius: 25%;
}

#persistent-green-led {
    display: none;
    left: 37px;
    background-color: darkgreen;
    top: 61px;
    width: 15px;
    height: 4px;
    border-radius: 25%;
}

#persistent-radio-display {
    top: 125px;
    left: 85px;
    width: var(--mobile-screen-width);
    height: 56px;
    border-radius: 2px;
}

#persistent-rssi-group {
    height: 12px;
    left: 53px;
}

#persistent-operation {
    left: 45px;
}

#persistent-talk-around {
    right: 72px;
}

#persistent-scanning {
    right: 60px;
}

#persistent-gps {
    right: 38px;
}

#persistent-time {
    right: 0px;
    top: 1px;
}

#persistent-send-data {
    left: 7px;
}

#persistent-receive-data {
    left: 11px;
}

#persistent-monitor {
    font-size: 1.7em;
    top: 230px;
    left: 30px;
}

#persistent-main-text {
    position: absolute;
    width: var(--mobile-screen-width);
    height: var(--mobile-screen-height);
    top: 13px;
    text-align: center;
}

#persistent-top-text {
    width: var(--mobile-screen-width);
    top: 2px;
    font-size: 0.75em;
}

#persistent-channel-text {
    bottom: 17px;
    font-weight: bold;
    width: var(--mobile-screen-width);
    text-align: center;
    overflow-wrap: break-word;
    font-size: var(--main-channel-text);
}

#persistent-vertical-list {
    width: var(--mobile-screen-width);
    background-color: gainsboro;
    bottom: 1px;
    display: none;
}

#persistent-vertical-list .vertical-list-item {
    height: 9px !important;
    font-size: 0.8em;
}

#persistent-range-text {
    position: absolute;
    display: none;
    top: 375px;
    font-weight: bolder;
    width: var(--mobile-screen-width);
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 1px;
}

#persistent-lower-text {
    text-align: center;
    width: var(--mobile-screen-width);
    bottom: 0px;
}

#persistent-menu-row {
    bottom: -12px;
    width: var(--mobile-screen-width);
    height: 11px;
    font-size: 0.85em;
    color: white;
}

.persistent-btm-text {
    position: absolute;
    bottom: 0px;
    width: 43px;
    height: 11px;
    text-align: center;
}

#persistent-btm-text-1 {
    left: 0px;
}

#persistent-btm-text-2 {
    left: 42px;
}

#persistent-btm-text-3 {
    left: 87px;
}

#persistent-btm-text-4 {
    left: 130px;
}

#persistent-btm-text-5 {
    left: 175px;
}

#persistent-indicator {
    position: absolute;
    left: 12px;
    top: 75px;
}
