#portable-radio {
    top: 378px;
    left: 320px;
    max-height: max-content;
    max-width: max-content;
    font-family: 'arial' !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: none;
    user-select: none;
    letter-spacing: 0.1em;
}

/* Portable front */
#portable-front-nolink {
    left: 70px;
    width: var(--portable-front-screen-width);
    top: 484px;
    height: 103px;
    line-height: 103px;
}

#portable-front-channel-down-knob {
    left: 90px;
    bottom: 337px;
    width: 25px;
    height: 60px;
}

#portable-front-channel-up-knob {
    left: 118px;
    bottom: 337px;
    width: 25px;
    height: 60px;
}

#portable-front-volume-down-knob {
    left: 145px;
    bottom: 330px;
    width: 30px;
    height: 45px;
}

#portable-front-volume-up-knob {
    left: 213px;
    bottom: 330px;
    width: 30px;
    height: 45px;
}

#portable-front-radio-display {
    left: 67px;
    top: 458px;
    height: 47px;
    width: 101px;
    border-radius: 3px;
}

#portable-front-status-text {
    top: 2px;
    width: var(--portable-front-screen-width);
    font-size: 0.8em;
    letter-spacing: normal !important;
}

#portable-front-time {
    left: 2px;
    top: 15px;
}

#portable-front-send-data {
    left: 8px;
}

#portable-front-receive-data {
    left: 12px;
}

#portable-front-rssi-group {
    bottom: -12px;
    left: 10px;
    height: 12px;
}

#portable-front-monitor {
    top: 47px;
    left: 17px;
}

#portable-front-operation {
    top: 49.2px;
    left: 33px;
}

#portable-front-scanning {
    left: 63px;
    top: 49.2px;
}

#portable-front-talk-around {
    position: absolute;
    left: 47px;
    bottom: -58px;
}

#portable-front-gps {
    left: 75px;
}

#prssi-bar-1 {
    bottom: -47px;
    left: -3px;
    height: 20%;
}

#prssi-bar-2 {
    bottom: -47px;
    left: 0px;
    height: 30%;
}

#prssi-bar-3 {
    bottom: -47px;
    left: 3px;
    height: 50%;
}

#prssi-bar-4 {
    bottom: -47px;
    left: 6px;
    height: 65%;
}

.send-data {
    display: none;
}

.receive-data {
    display: none;
    bottom: 785;
    left: 243;
}


/* Battery */
#battery {
    display: none;
    left: 87px;
    top: 1px;
    transform: rotate(-90deg);
}

.batteryBar {
    display: none;
    width: 6px;
    height: 2px;
    left: 92px;
}

#batteryBar1 {
    top: 1px;
}

#batteryBar2 {
    top: 4px;
}

#batteryBar3 {
    top: 7px;
}

#batteryBar4 {
    top: 10px;
}

#portable-front-top-text {
    top: 65px;
    width: var(--portable-front-screen-width);
    text-align: center;
    font-family: 'arial' !important;
    text-transform: uppercase;
    font-size: xx-small;
}

#portable-front-channel-text {
    bottom: -45px;
    width: var(--portable-front-screen-width);
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'arial' !important;
    font-size: 1.1em;
}

#portable-front-vertical-list {
    width: var(--portable-front-screen-width);
    background-color: gainsboro;
    bottom: 19px;
    display: none;
}

#portable-front-range-text {
    display: none;
    bottom: 20px;
    font-weight: bolder;
    width: var(--portable-front-screen-width);
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 1px;
}

#portable-front-lower-text {
    font-family: 'arial' !important;
    font-size: 11px;
    text-align: center;
    color: white;
    width: 115.6px;
    bottom: -56px;
    left: -3px;
}

#portable-menu-row {
    background-color: rgba(25, 85, 105, 0.25);
    width: 114px;
    height: 14px;
    left: -2px;
    bottom: -70px;
}

.portable-btm-text {
    position: absolute;
    bottom: 3px;
    color: white;
    font-size: xx-small;
    width: var(--portable-soft-btn-width);
    overflow-wrap: break-word;
}

#portable-btm-text-1 {
    left: 3px;
    color: white;
    font-size: xx-small;
    text-align: left;
}

#portable-btm-text-2 {
    left: 33px;
    color: white;
    font-size: xx-small;
    text-align: center;
}

#portable-btm-text-3 {
    right: 1px;
    color: white;
    font-size: xx-small;
    text-align: right;
}

#portable-soft-btn-1 {
    bottom: var(--portable-top-btn-row);
    left: 64px;
    width: var(--portable-soft-btn-width);
}

#portable-soft-btn-2 {
    bottom: var(--portable-top-btn-row);
    left: 102px;
    width: var(--portable-soft-btn-width);
}

#portable-soft-btn-3 {
    bottom: var(--portable-top-btn-row);
    left: 140px;
    width: var(--portable-soft-btn-width);
}

#portable-home-btn {
    position: absolute;
    left: 56px;
    top: 346px;
    width: 21px;
    height: 21px;
}

#portable-panicBtn {
    position: absolute;
    left: 100px;
    top: 125px;
    width: 21px;
    height: 10px;
}

#portable-soft-btn-up {
    position: absolute;
    left: 82px;
    top: 355px;
    width: 30px;
    height: 20px;
}

#portable-soft-btn-down {
    position: absolute;
    left: 82px;
    top: 385px;
    width: 30px;
    height: 20px;
}

#portable-soft-btn-left {
    position: absolute;
    left: 51px;
    top: 371px;
    width: 30px;
    height: 20px;
}

#portable-soft-btn-right {
    position: absolute;
    left: 114px;
    top: 371px;
    width: 30px;
    height: 20px;
}

#portable-other-btn {
    left: 155px;
    top: 610px;
    width: 25px;
    height: 47px;
}

#portable-extra-btn-1 {
    left: 202px;
    top: 631px;
    width: 15px;
    height: 25px;
}

#portable-extra-btn-2 {
    left: 202px;
    top: 659px;
    width: 15px;
    height: 25px;
}

#portable-no-btns {
    left: 58px;
    top: 664px;
    width: 122px;
    height: 35px;
}

/*
****************************
****************************
****************************
****************************
****************************
****************************
****************************


       Top Display


****************************
****************************
****************************
****************************
****************************
****************************
****************************
****************************
*/

#portable-top-ui {
    left: 280px;
    bottom: -702px;
}

#portable-top-nolink {
    line-height: 32px;
    left: 97px;
    top: 29px;
    width: 93px;
    height: 32px;
}

#portable-top-channel-down-knob {
    left: 118px;
    bottom: 15px;
    width: 25px;
    height: 50px;
}

#portable-top-channel-up-knob {
    left: 145px;
    bottom: 15px;
    width: 25px;
    height: 50px;
}

#portable-top-volume-down-knob {
    left: 211px;
    bottom: 45px;
    width: 37px;
    height: 65px;
}

#portable-top-volume-up-knob {
    left: 250px;
    bottom: 45px;
    width: 30px;
    height: 65px;
}

#portable-top-radio-display {
    left: 97px;
    top: 29px;
    width: 93px;
    height: 31px;
    border-radius: 5px;
}

#portable-top-status-text {
    top: 2px;
    width: 100%;
}

#portable-top-monitor {
    font-size: 1.25em;
    top: -6px;
    left: 3px;
}

#portable-top-talk-around {
    left: 50px;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 900;
    font-size: 0.8em;
}

#portable-top-scanning {
    left: 64px;
}

#portable-top-channel-text {
    bottom: 0px;
    font-weight: bolder;
    width: 135px;
    overflow-wrap: break-word;
    margin-left: 5px;
}

#portable-top-range-text {
    display: none;
    bottom: -2px;
    font-weight: bolder;
    width: 92px;
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 1px;
}

#portable-led {
    border-radius: 100%;
    position: absolute;
    left: 107px;
    top: 91px;
    width: 7px;
    height: 7px;
    background-color: orange;
    display: none;
}
