#tooltip {
    z-index: 99;
    background-color: grey;
    color: white;
    padding: 1px 5px;
    display: none;
    position: absolute;
    width: 5%;
}

.debug {
    border: 1px solid red;
}

.reverse {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

:root {
    font-size: 0.8em;
    --main-channel-text: 1em;
    --soft-btn-height: 20px;
    /* Portable Front */
    --portable-front-screen-width: 101px;
    --portable-top-btn-row: 99px;
    --portable-btm-btn-row: 8px;
    --portable-soft-btn-width: 34px;
    /* Mobile */
    --mobile-screen-width: 287.5px;
    --mobile-screen-height: 125px;
    --mobile-btn-row-bottom: 6px;
    --mobile-btn-width: 41px;
}

/* Generics */
.absolute {
    position: absolute;
}

.always-on {
    display: block !important;
}

.backlight {
    left: 67px;
    top: 458px;
    height: 47px;
    width: 114px;
    border-radius: 3px;
    background-color: rgba(0, 255, 255, 0.5);
}

.radio-display {
    display: none;
}

.statusBar {
    background-color: green;
    position: absolute;
    width: 2px;
}

.scanning {
    top: 25px;
    left: 78px;
    display: none;
    font-size: 0.8em;
    transform: scale(3, 1);
}

.talk-around {
    display: none;
    left: 87;

}

.tower {
    position: absolute;
    top: 24px;
    left: 13px;
}

.towerport {
    position: absolute;
    top: 49px;
    left: 0px;
}

#rssi-bar-1 {
    bottom: 225px;
    left: -115px;
    height: 25%;
}

#rssi-bar-2 {
    bottom: 225px;
    left: -112px;
    height: 50%;
}

#rssi-bar-3 {
    bottom: 225px;
    left: -109px;
    height: 75%;
}

#rssi-bar-4 {
    bottom: 225px;
    left: -106px;
    height: 100%;
}

.send-data {
    display: none;
}

.receive-data {
    display: none;
    bottom: 785;
    left: 243;
}

.gps {
    display: none;
    top: 24px;
    left: 243px;
}

.page {
    display: none;
}

.softBtn {
    position: absolute;
    height: var(--soft-btn-height);
}

.no-link {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
}

.vertical-list-item {
    height: 12px;
    background-color: lightgray;
    padding: 2px;
    border-top: 1px solid slategray;
}

.vertical-list-selected-item {
    background-color: gray !important;
}

/* Connection Stuff */
#connectionBox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0px;
    left: 0px;
    z-index: 99;
}

#connectionInner {
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px black;
    color: #eeeeee;
    top: 50%;
    transform: translateY(-51%);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#connectionInner h1 {
    color: yellow;
    text-align: center;
}

#connectionInner .scriptName {
    color: red;
    font-weight: bolder;
}

#connectionInner .blue {
    color: lightseagreen;
    font-weight: bolder;
}

#connectionInner .green {
    color: green;
    font-weight: bolder;
}
